{
  "presets": [
    "typescript",
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "> 1%"
          ]
        },
        "exclude": [
          "transform-regenerator"
        ]
      }
    ]
  ],
  "plugins": [
    "transform-decorators",
    [
      "transform-class-properties",
      {
        "loose": true
      }
    ]
  ]
}
